/* styling for homepage */
.homemessage{
    position: absolute;
    top: 42%;
    left: 29%;
    font-size: 300%;
}

#welcome{
    position: absolute;
    top:25%;
    left: 38%;
}

#welcome h1{
    font-size: 500%;
}

#welcome h3{
    font-size: 250%;
}

.btnWelcome{
   border-radius: 9px;
   color: #000;
   font-size: 135%;
   padding: 10px 20px;
   border: solid 	#000 3px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   cursor: pointer;
}

.btnWelcome:hover{
   color: red;
   border: solid red 3px;
}

.content{
   max-width: 500px;
   margin: 0 auto;
   text-align: center;
}

.website_link{
    position: absolute;
    top: 60%;
    left: 40%;
    text-decoration: none;
    color: #000;
}

.commits_link{
    position: absolute;
    top: 66%;
    left: 43%;
    text-decoration: none;
    color: #000;
}

.website_link::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #000;
    
    position: absolute;
    top: 17px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

.website_link:hover::after{
    width: 100%;
}

.commits_link::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #000;
    
    position: absolute;
    top: 17px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

.commits_link:hover::after{
    width: 100%;
}