.mainheading{
    text-align: center;
}

.line{
    border:1px solid black;
}

.line2{
    border:0.1px solid black;
    opacity: 0.3;
    position: relative;
    top: 240px;
}

.establishments{
    margin-left: 50%;
    position: relative;
    top: -100px;
}

.years{
    margin-left: 5%;
}

.years2{
    margin-left: 5%;
    position: relative;
    top: 294px;
}

.cv_positioning{
    width: 50%;
}

.cv_positioning2{
    margin-left: 50%;
    position: relative;
    top: -274px;
}


.flex-container{
    display: flex;
    flex-wrap: nowrap;
}

.picture{
    background: url(https://cdn.suwalls.com/wallpapers/nature/blue-mountain-range-26305-1920x1080.jpg) no-repeat;
    background-size: cover;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: white;
    border-bottom-color: white;
}



ul li{
    float: left;
    width: 200px;
    height: 40px;
    background-color: #14141f;
    opacity: .8;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-right: 2px;
}



ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

ul li:hover{
    background-color: #CF5C3F;
}

ul li a:hover{
    background-color: #CF5C3F;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}