/* Code for navigation bar */
body{
    margin: 0;
    background-color: #FFF;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #333;
    position: fixed;
    width: 100%;
    z-index: 5;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    font-size: 25px;
    color: #fff;
}

nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 31px;
    
    position: relative;
}

nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #fff;
}

nav a::after{
    content: '';
    display: block;
    height: 5px;
    background-color: #fff;
    
    position: absolute;
    top: 50px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

nav a:hover::after{
    width: 100%;
}

.homemessage{
    position: absolute;
    top: 42%;
    left: 25%;
    font-size: 300%;
}

#welcome{
    position: absolute;
    top:25%;
    left: 38%;
}

#welcome h1{
    font-size: 500%;
}

#welcome h3{
    font-size: 250%;
}

.btnWelcome{
   border-radius: 9px;
   color: #000;
   font-size: 135%;
   padding: 10px 20px;
   border: solid 	#000 3px;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   cursor: pointer;
}

.btnWelcome:hover{
   color: red;
   border: solid red 3px;
}

.content{
   max-width: 500px;
   margin: 0 auto;
   text-align: center;
}

.website_link{
    position: absolute;
    top: 60%;
    left: 40%;
    text-decoration: none;
    color: #000;
}

.commits_link{
    position: absolute;
    top: 66%;
    left: 45%;
    text-decoration: none;
    color: #000;
}

.website_link::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #000;
    
    position: absolute;
    top: 17px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

.website_link:hover::after{
    width: 100%;
}

.commits_link::after{
    content: '';
    display: block;
    height: 3px;
    background-color: #000;
    
    position: absolute;
    top: 17px;
    width: 0%;
    transition: all ease-in-out 0.25s;
}

.commits_link:hover::after{
    width: 100%;
}


