/* Shop Home code */
.company_logo{
    position: absolute;
    top: 15%;
    left: 36%;
}

.company_logo img{
    height: 150%;
    width: 150%;
}

.office_team{
    position: absolute;
    top: 50%;
    left: 10%;
}

.office_team img{
    height: 75%;
    width: 75%;
}

.company_mission{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
}

.company_history{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 40%;
}

.company_contact{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 40%;
}







/* About Cloud code */
iframe{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 310px;
}

.cloud_intro{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 25%;
}

.cloud_reasons{
    position: absolute;
    left: 33%;
    width: 40%;
    top: 63%;
}

.saas_heading{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 70%;
}

.saas_body{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 75%;
}

.paas_heading{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 70%;
}

.paas_body{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 75%;
}

.iaas_heading{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 115%;
}

.iaas_body{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 120%;
}

.caas_heading{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 115%;
}

.caas_body{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 120%;
}



/* Products page code */
.products_heading{
    position: absolute;
    top: 15%;
    left: 45%; 
}

.salesforce_pic{
    position: absolute;
    top: 25%;
    left: 10%;
}

.salesforce_pic img{
    height: 25%;
    width: 25%;
}

.gmail_pic{
    position: absolute;
    top: 60%;
    left: 10%;
}

.gmail_pic img{
    height: 45%;
    width: 60%;
}

.aws_pic{
    position: absolute;
    top: 105%;
    left: 10%;
}

.aws_pic img{
    height: 50%;
    width: 35%;
}

.cloud9_pic{
    position: absolute;
    top: 125%;
    left: 10%;
}

.cloud9_pic img{
    height: 150%;
    width: 150%;
}

.salesforce_body{
    position: absolute;
    top: 25%;
    left: 45%;
}

.aws_body{
    position: absolute;
    top: 105%;
    left: 45%;
}

.gmail_body{
    position: absolute;
    top: 60%;
    left: 45%;
}

.cloud9_body{
    position: absolute;
    top: 125%;
    left: 45%;
}

.ebus_btn{
    position: absolute;
    top: 95%;
    left: 80%; 
}





/* Ebusiness code page 1 */
.ebus_content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.ebus_content h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.ebus_content .label1{
    position: absolute;
    top: 20%;
    left: 43%;
}

.ebus_content .label2{
    position: absolute;
    top: 25%;
    left: 43%;
}

.ebus_content .label3{
    position: absolute;
    top: 30%;
    left: 43%;
}

.ebus_content .label4{
    position: absolute;
    top: 35%;
    left: 43%;
}

.ebus_content .label5{
    position: absolute;
    top: 50%;
    left: 43%;
}
.ebus_content .label6{
    position: absolute;
    top: 55%;
    left: 43%;
}
.ebus_content .label7{
    position: absolute;
    top: 60%;
    left: 43%;
}

.ebus_content .label8{
    position: absolute;
    top: 65%;
    left: 43%;
}

.add_btn{
    position: absolute;
    top: 71%;
    left: 43%;
}

.cal_btn{
    position: absolute;
    top: 75%;
    left: 43%;
}

.clear_btn{
    position: absolute;
    top: 75%;
    left: 52%;
    
    text-decoration: none;
    color: red;
    border: solid 5px red;
    border-radius: 10px;
}


/* Ebusiness code page 2 */
.ebus2_heading{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lbl_name{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lbl_email{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lbl_pin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btn_proceed{
    position: absolute;
    top: 35%;
    left: 43%;
}

.btn_validate{
    position: absolute;
    top: 40%;
    left: 43%;
}

