/* Shop Home code */
.company_logo{
    position: absolute;
    top: 15%;
    left: 36%;
}

.company_logo img{
    height: 150%;
    width: 150%;
}

.office_team{
    position: absolute;
    top: 50%;
    left: 10%;
}

.office_team img{
    height: 75%;
    width: 75%;
}

.company_mission{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
}

.company_history{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 40%;
}

.company_contact{
    position: absolute;
    top: 80%;
    left: 50%;
    width: 40%;
}







/* About Cloud code */
iframe{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 310px;
}

.cloud_intro{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 25%;
}

.cloud_reasons{
    position: absolute;
    left: 40%;
    width: 40%;
    top: 63%;
}

.cloud_heading{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 70%;
}

.cloud_body{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 75%;
}

.cloud_heading2{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 70%;
}

.cloud_body2{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 75%;
}

.cloud_heading3{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 95%;
}

.cloud_body3{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 100%;
}

.cloud_heading4{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 95%;
}

.cloud_body4{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 100%;
}



/* Ebusiness code */
.ebus_content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.ebus_content h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.ebus_content .label1{
    position: absolute;
    top: 20%;
    left: 43%;
}

.ebus_content .label2{
    position: absolute;
    top: 25%;
    left: 43%;
}

.ebus_content .label3{
    position: absolute;
    top: 30%;
    left: 43%;
}

.ebus_content .label4{
    position: absolute;
    top: 35%;
    left: 43%;
}

.cal_btn{
    position: absolute;
    top: 41%;
    left: 45%;
}

.ebus_content .label5{
    position: absolute;
    top: 55%;
    left: 43%;
}

.ebus_content .label6{
    position: absolute;
    top: 60%;
    left: 43%;
}
.ebus_content .label7{
    position: absolute;
    top: 67%;
    left: 43%;
}
.ebus_content .label8{
    position: absolute;
    top: 72%;
    left: 43%;
}

.add_btn{
    position: absolute;
    top: 77%;
    left: 43%;
}

.ebus_btn{
   position: absolute;
    top: 20%;
    left: 20%; 
}



