        /* Shop Homepage styling */
.company_logo{
    position: absolute;
    top: -3%;
    left: 31%;
}

.company_logo img{
    height: 150%;
    width: 150%;
}

.shophome_container1{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 35%;
    background-color: LightGray;
}

.office_team{
    position: absolute;
    top: 5%;
    left: 10%;
}

.office_team img{
    height: 75%;
    width: 75%;
}

.company_mission{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 40%;
}

.shophome_container2{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 80%;
    background-color: #fff;
    
}

.company_history{
    position: absolute;
    top: 25%;
    left: 10%;
    width: 36%;
}

.laura{
    position: absolute;
    top: 5%;
    left: 50%;
}

.laura img{
    height: 280px;
    width: 120%;
}

.shophome_container3{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 120%;
    background-color: LightGray;
    
}

.company_info{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 36%;
}

.headquaters{
    position: absolute;
    top: 5%;
    left: 10%;
}

.headquaters img{
    height: 280px;
    width: 60%;
}

.shop1_copyright{
    position: absolute;
    top: 160%;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.shop1_copyright p{
    position: absolute;
    left: 10%;
}

#btn_top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btn_top:hover {
  background-color: #555;
}






        /* About Cloud page styling */
.about_intro{
    width: 100%;
    height: 45%;
    position: absolute;
    top: 35%;
    background-color: LightGray;
}

iframe{
    position: absolute;
    top: 6%;
    left: 10%;
    width: 30%;
    height: 310px;
}

.cloud_intro{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 20%;
}

.cloud_reasons{
    position: absolute;
    left: 33%;
    width: 40%;
    top: 83%;
}

.aboutcloud_container1{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 100%;
    background-color: LightGray;
}

.saas_image{
    position: absolute;
    top: 0%;
    left: 50%;
}

.saas_image img{
    height: 75%;
    width: 75%;
}

.saas_heading{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 0%;
}

.saas_body{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 10%;
}

.aboutcloud_container2{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 150%;
    background-color: LightGray;
}

.paas_image{
    position: absolute;
    top: 3%;
    left: 10%;
}

.paas_image img{
    height: 75%;
    width: 75%;
}

.paas_heading{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 0%;
}

.paas_body{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 10%;
}

.aboutcloud_container3{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 200%;
    background-color: LightGray;
}

.iaas_image{
    position: absolute;
    top: 3%;
    left: 50%;
}

.iaas_image img{
    height: 75%;
    width: 75%;
}

.iaas_heading{
    position: absolute;
    left: 10%;
    width: 40%;
    top: 0%;
}

.iaas_body{
    position: absolute;
    left: 10%;
    width: 35%;
    top: 10%;
}

.aboutcloud_container4{
    width: 100%;
    height: 40%;
    position: absolute;
    top: 250%;
    background-color: LightGray;
}

.caas_image{
    position: absolute;
    top: 3%;
    left: 10%;
}

.caas_image img{
    height: 75%;
    width: 75%;
}

.caas_heading{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 0%;
}

.caas_body{
    position: absolute;
    left: 50%;
    width: 40%;
    top: 10%;
}

.shop2_copyright{
    position: absolute;
    top: 310%;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.shop2_copyright p{
    position: absolute;
    left: 10%;
}






        /* Products page styling */
.products_heading{
    position: absolute;
    top: 32%;
    left: 45%;
}

.salesforce_pic{
    position: absolute;
    top: 40%;
    left: 10%;
}

.salesforce_pic img{
    height: 25%;
    width: 25%;
}

.salesforce_body{
    position: absolute;
    top: 40%;
    left: 45%;
    width: 45%;
}

.cloud9_pic{
    position: absolute;
    top: 70%;
    left: 10%;
}

.cloud9_pic img{
    height: 150%;
    width: 150%;
}

.cloud9_body{
    position: absolute;
    top: 74%;
    left: 45%;
    width: 45%;
}

.aws_pic{
    position: absolute;
    top: 115%;
    left: 10%;
}

.aws_pic img{
    height: 50%;
    width: 35%;
}

.aws_body{
    position: absolute;
    top: 115%;
    left: 45%;
    width: 45%;
}

.gmail_pic{
    position: absolute;
    top: 150%;
    left: 10%;
}

.gmail_pic img{
    height: 45%;
    width: 60%;
}

.gmail_body{
    position: absolute;
    top: 150%;
    left: 45%;
    width: 45%;
}

.ebus_btn{
    position: absolute;
    top: 190%;
    left: 50%; 

    z-index: 98;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
}

.ebus_btn:hover{
    background-color: #555;
}

.shop3_copyright{
    position: absolute;
    top: 200%;
    width: 100%;
    height: 10%;
    background-color: #FFF;
}

.shop3_copyright p{
    position: absolute;
    left: 10%;
}




        /* E-business page 1 styling */
.ebus_content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.ebus_content h1{
    position: absolute;
    top: 10%;
    left: 42%;
}

.ebus_content .label1{
    position: absolute;
    top: 20%;
    left: 43%;
}

.ebus_content .label2{
    position: absolute;
    top: 25%;
    left: 43%;
}

.ebus_content .label3{
    position: absolute;
    top: 30%;
    left: 43%;
}

.ebus_content .label4{
    position: absolute;
    top: 35%;
    left: 43%;
}

.ebus_content .label5{
    position: absolute;
    top: 50%;
    left: 43%;
}
.ebus_content .label6{
    position: absolute;
    top: 55%;
    left: 43%;
}
.ebus_content .label7{
    position: absolute;
    top: 60%;
    left: 43%;
}

.ebus_content .label8{
    position: absolute;
    top: 65%;
    left: 43%;
}

.add_btn{
    position: absolute;
    top: 71%;
    left: 43%;
}

.add_btn_style{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.add_btn_style:hover{
    cursor: pointer;
}

.cal_btn{
    position: absolute;
    top: 75%;
    left: 43%;
    
    background-color: #ffff00;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 3px;
    font-size: 95%;
}

.cal_btn:hover{
    cursor: pointer;
}

.clear_btn{
    position: absolute;
    top: 75%;
    left: 52%;
    
    text-decoration: none;
    color: red;
    padding: 4px 4px;
    border: solid 1px red;
    border-radius: 3px;
}



        /* E-business page 2 styling */
.ebus2_heading{
    position: absolute;
    top: 10%;
    left: 42%;
}

.lbl_name{
    position: absolute;
    top: 20%;
    left: 43%;
}

.lbl_email{
    position: absolute;
    top: 25%;
    left: 43%;
}

.lbl_pin{
    position: absolute;
    top: 30%;
    left: 43%;
}

.btn_proceed{
    position: absolute;
    top: 35%;
    left: 43%;
    
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_proceed:hover{
    cursor: pointer;
}

.btn_validate{
    position: absolute;
    top: 40%;
    left: 43%;
    
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
    font-size: 90%;
}

.btn_validate{
    cursor: pointer;
}

        /* E-business page 3 styling */
        
.ebus3_heading{
    position: absolute;
    top: 20%;
    left: 40%;
}
.ebus3_name{
    position: absolute;
    top: 30%;
    left: 40%;
}

.ebus3_email{
    position: absolute;
    top: 35%;
    left: 40%;
}

.ebus3_total{
    position: absolute;
    top: 40%;
    left: 40%;
}

