html, body{
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

.mainheading{
    text-align: center;
    color: #FFF;
    background-color: #585858;
}

.line2{
    border:0.1px solid black;
    opacity: 0.3;
    position: relative;
    top: 240px;
}

.establishments{
    margin-left: 50%;
    position: relative;
    top: -100px;
}

.years{
    margin-left: 5%;
}

.years2{
    margin-left: 5%;
    position: relative;
    top: 294px;
}

.cv_positioning{
    width: 48%;
    position: fixed;
    top: 10%;
}

.cv_positioning2{
    margin-left: 50%;
    position: fixed;
    top: 10%;
}

.cv_positioning3{
    width: 48%;
    position: fixed;
    top: 45%;
}

.cv_positioning4{
    margin-left: 50%;
    position: fixed;
    top: 45%;
}

.cv_positioning5{
    width: 48%;
    position: fixed;
    top: 80%;
}

.cv_positioning6{
    margin-left: 50%;
    position: fixed;
    top: 80%;
}

.picture{
    height: 100%;
    width: 100%;
    margin: auto;
    background: url(https://www.fg-a.com/wallpapers/2017-3-geo-pattern.jpg) no-repeat;
    background-size: cover;
}

.btn_positions{
    position: absolute;
    bottom: 5%;
    right: 20%;
}

@media only screen and (max-width:670px) {
    .mainheading{
    font-size: 125%;
}

    .cv_positioning p{
    font-size: 50%;
    position: fixed;
    top: 5%;

}

    .cv_positioning2 p{
    font-size: 50%;
    position: fixed;
    top: 5%;
}

    .cv_positioning2 ul{
    font-size: 50%;
    position: fixed;
    top: 10%;
}



    .cv_positioning3 p{
    font-size: 50%;
    position: fixed;
    top: 40%;
}

    .cv_positioning4 p{
    font-size: 50%;
    position: fixed;
    top: 40%;
}

    .cv_positioning4 ul{
    font-size: 50%;
    position: fixed;
    top: 45%;
}

}