 /* all pages */
.interests_button1{
    position: fixed;
    top: 90%;
    left: 85%;
    text-decoration: none;
    background-color: #333;;
    border-radius: 10%;
    color: white;
}

.interests_button2{
    position: fixed;
    top: 90%;
    left: 90%;
    text-decoration: none;
    background-color: #333;
    border-radius: 10%;
    color: white;
}




/* Sports page */
.munster_fans_pic{
    position: absolute;
    top: 20%;
    left: 15%;
}

.munster_fans_pic img{
    width: 60%;
    border-radius: 10%;
}

.sport_heading{
    position: absolute;
    left: 45%;
    top: 20%;
}

.rugby_body{
    position: absolute;
    left: 45%;
    top: 30%; 
}

.aaronrodgerspic{
    position: absolute;
    width: 30%;
    height: 40%;
    left: 15%;
    top: 55%;
    border-radius: 10%;
}

.greenbaypic{
    position: absolute;
    width: 30%;
    height: 40%;
    left: 15%;
    top: 100%;
    border-radius: 10%;
}

.sport_heading2{
    position: absolute;
    left: 45%;
    top: 55%;
}

.af_body{
    position: absolute;
    left: 45%;
    top: 60%;
    font-weight: normal;
}





/* Travel page */
#section1{
    background-color: rgb(238, 0, 90);
}

#section2{
    background-color: rgb(44, 62, 80)
}

#section3{
    background-color: rgb(51, 153, 204)
}

    /* Section 1 */
.section{
    text-align: center;
    color: white;
}

.section1_country{
    font-size: 350%;
    position: absolute;
    left: 60%;
    top: 12%;
}

.section1_tag{
    position: absolute;
    left: 60%;
    top: 22%;
}

.tenerife_pic{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 30%;
    height: 30%;
}

.p1{
    max-width: 50%;
    position: absolute;
    left: 45%;
    top: 30%;
}

.p2{
    max-width: 50%;
    position: absolute;
    left: 45%;
    top: 35%;
}









/* Cloud Services page */

.cloud_heading{
    position: absolute;
    margin-left: 15%;
    top: 20%;
}

.cloud_body{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    top: 25%;
}

.cloud_heading2{
    position: absolute;
    margin-left: 15%;
    top: 40%;
}

.cloud_body2{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    top: 45%;
}

.cloud_heading3{
    position: absolute;
    margin-left: 15%;
    top: 60%;
}

.cloud_body3{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    top: 65%;
}

.cloud_heading4{
    position: absolute;
    margin-left: 15%;
    top: 80%;
}

.cloud_body4{
    position: absolute;
    width: 70%;
    margin-left: 15%;
    top: 85%;
}


