            /* all CV pages */
.btn_positions{
    position: absolute;
    top: 95%;
    left: 40%;
}

body,html{
    height: 100%;
    width: 100%;
}


            /* Cv page 1 code */
.cv1_positioning{
    width: 33%;
    margin-left: 55%;
    position: absolute;
    top: 15%;
}

.cv1_positioning2{
    margin-left: 55%;
    position: absolute;
    top: 80%;
}

.self_pic{
    position: absolute;
    top: 20%;
    left: 10%;
}

h1:nth-of-type(2){
    color: #f5b800;
    font-size: 300%;
}



            /* Cv page 2 code */
.years{
    margin-left: 15%;
    position: fixed;
    top: 10%;
}

.years2{
    margin-left: 15%;
    position: fixed;
    top: 60%;

}

.establishments{
    margin-left: 50%;
    position: fixed;
    top: 10%;
}

.establishments2{
    margin-left: 50%;
    position: fixed;
    top: 60%;
}



            /* CV page 3 code */
.cv3_positioning{
    width: 48%;
    position: fixed;
    top: 10%;
    margin-left: 25%;
}

.cv3_positioning2{
    width: 48%;
    position: fixed;
    top: 10%;
    margin-left: 50%
}

.cv3_positioning3{
   width: 48%;
    position: fixed;
    top: 50%;
    margin-left: 25%; 
}

.cv3_positioning4{
    width: 48%;
    position: fixed;
    top: 50%;
    margin-left: 50%
}