            /* all CV pages */
.btn_positions{
    position: fixed;
    top: 95%;
    left: 70%;
}

body,html{
    height: 100%;
    width: 100%;
}


            /* Cv page 1 code */
.personal_heading{
    position: absolute;
    top: 53%;
    left: 28%;
}

.skills_heading{
    margin-left: 28%;
    position: absolute;
    top: 94%;
}

.interests_heading{
    margin-left: 28%;
    position: absolute;
    top: 120%;
}


.self_pic {
    position: absolute;
    top: 16%;
    left: 18%;
}

.self_pic img{
    width: 80%;
    border-radius: 10%;
}

.cv1_positioning{
    width: 33%;
    margin-left: 48%;
    position: absolute;
    top: 25%;
}

.cv1_positioning2{
    width: 33%;
    margin-left: 48%;
    position: absolute;
    top: 53%;  
}

.cv1_positioning3{
    margin-left: 48%;
    position: absolute;
    top: 94%;
}

.cv1_positioning4{
    margin-left: 48%;
    position: absolute;
    top: 120%;
}

h1:nth-of-type(2){
    color: #f5b800;
    font-size: 300%;
}

p:nth-of-type(1), p:nth-of-type(2){
    display: inline;
}




            /* CV page 2 code */
.colmans_pic{
    position: absolute;
    top: 16%;
    left: 18%;
}

.colmans_pic img{
    width: 60%;
    border-radius: 10%;
}

.cv2_school{
    width: 40%;
    position: absolute;
    left: 45%;
    top: 20%;
}

.years{
    position: absolute;
    top: 30%;
    left: 45%;
}

.summary_heading{
    position: absolute;
    top: 40%;
    left: 28%;
}

.summary_body{
    position: absolute;
    top: 40%;
    left: 45%;
}

.awards_heading{
    position: absolute;
    top: 60%;
    left: 28%;
}

.awards_body{
    position: absolute;
    top: 60%;
    left: 45%;
}

.results_heading{
    position: absolute;
    top: 80%;
    left: 28%;
}

.jc_results{
    position: absolute;
    top: 80%;
    left: 45%;
}

.lc_results{
    position: absolute;
    top: 85%;
    left: 68%;
}

.lc_points{
    position: absolute;
    top: 117%;
    left: 71%;
}

.ucc_pic{
    position: absolute;
    top: 140%;
    left: 18%;
}

.ucc_pic img{
    width: 39%;
    border-radius: 10%;
}

.cv2_university{
    width: 40%;
    position: absolute;
    left: 45%;
    top: 150%;
}

.years2{
    position: absolute;
    top: 160%;
    left: 45%;
}

.ucc_course{
    position: absolute;
    top: 170%;
    left: 45%;
}



            /* CV page 3 code */
            
.tossbryan_pic{
    position: absolute;
    top: 16%;
    left: 18%;
}

.tossbryan_pic img{
    width: 60%;
    border-radius: 10%;
}
            
.cv3_workplace{
    width: 40%;
    position: absolute;
    left: 45%;
    top: 20%;
}

.cv3_years{
    position: absolute;
    top: 30%;
    left: 45%;
}

.cv3_positioning2{
    width: 48%;
    position: absolute;
    top: 40%;
    left: 45%;
}


.cv3_workplace2{
    width: 40%;
    position: absolute;
    left: 45%;
    top: 80%;
}

.cv3_years2{
    position: absolute;
    top: 90%;
    left: 45%;
}


.cv3_positioning4{
    width: 48%;
    position: absolute;
    top: 100%;
    left: 45%;
}